

h1 {
  font-weight: bold;
  font-size: 4em;
}

h2{
  text-decoration: underline;
}

ol {
  color: purple;
  font-size: 1.5em;
}

ul {
  color: red;
}

ul#navBarList {
  color: black;
}

.container{
  background-color: lightblue;
  padding-bottom: 15px;
}

.nav {
  margin: 5px;
  border-style: solid;
  border: 3px;
  border-color: black;
}

.jumbotron{

}

#results {
  display: none;
}

#error {
  display: none;
  color: red;
  font-weight: bold;
}
