/*body {
  background-image: url(../img/pingpong.jpg);
}*/

h1 {
  font-weight: bold;
  font-size: 4em;
}

h2{
  text-decoration: underline;
}

ol {
  color: purple;
  font-size: 1.5em;
}

ul {
  color: red;
  font-size:
}

ul#navBarList {
  color: black;
}

.container{
  background-image: url(../img/pingpong.jpg);
  padding-bottom: 15px;
}

.row{
  background-color: white;
  border: 2px;
  border-color: black;
}
#navBarList {
  margin: 5px;
  border-style: solid;
  border: 3px;
  border-color: black;
}

.jumbotron{

}

#results {
  display: none;
}

#error {
  display: none;
  color: red;
  font-weight: bold;
}
