

h1 {
  font-weight: bold;
  font-size: 4em;
}

h2{
  text-decoration: underline;
}

ol {
  color: purple;
}

ul {
  color: red;
}

#NavbarList {
  color: black;
}

.container{
  background-color: lightblue;
  padding-bottom: 15px;
}

.jumbotron{

}

#results {
  display: none;
}

#error {
  display: none;
  color: red;
  font-weight: bold;
}
